<%- include('includes/header') %> <%- include('includes/flash') %>
<h3 class="text-center"><strong>This is guest-home page</strong></h3>
<!-- header ends here -->
<%if(!user){%>
<div class="container py-md-5">
  <div class="row align-items-center">
    <div class="col-lg-12"><%- include('includes/create-new-account') %></div>
  </div>
</div>
<%}%>

<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 shadow">
      <h2 class="text-center bold-font">All Batches Announced By Teachers</h2>
      <% batches.forEach(function(batch){ %>
      <a class="list-group-item list-group-item-action" data-toggle="collapse" href="#collapse<%= batch._id %>" role="button" aria-expanded="false" aria-controls="collapseExample">
        <img class="avatar-tiny" src="/images/profile/profile-<%=batch.username%>.jpg" />
        By-<strong class=""> <%= batch.teacherName %> </strong>
        <div class="float-right"><strong>Subject : </strong><%= batch.subjects %>&nbsp;&nbsp;&nbsp;&nbsp; <strong> Class : </strong> <%= batch.class %></div>
      </a>
      <div class="collapse" id="collapse<%= batch._id %>">
        <div class="card card-body">
          <div class="container">
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-10">
                <div class="text-center">
                  <img class="batchPictureAvatar" src="/images/profile/profile-<%=batch.username%>.jpg" class="rounded" alt="...">
                </div>
                <% let presentStudents=batch.admittedStudents.length %>
                <div class="container mb-4">
                  <p><strong>Teacher Name : </strong><%= batch.teacherName %></p>
                  <p><strong>Stream : </strong><%= batch.stream %></p>
                  <p><strong>Subject : </strong><%= batch.subjects %></p>
                  <p><strong>Class : </strong><%= batch.class %></p>
                  <p><strong>Batch Time : </strong><%= batch.classTime %></p>
                  <p><strong>Teaching Days : </strong><%= batch.days %></p>
                  <p><strong>Address : </strong><%= batch.address %></p>
                  <hr />
                  <p><strong>Total sits : </strong><%= batch.studentsQuentity %></p>
                  <p><strong>Admitted students : </strong><%= batch.admittedStudents.length %></p>
                  <p><strong>Available sits : </strong><%= batch.studentsQuentity-presentStudents %></p>
                </div>
                <form action="/requestForAdmission/<%=batch._id%>" method="POST">
                  <span class="pt-2">
                    <button type="submit" class="py-3 mt-4 btn btn-primary btn-color btn-block btnText">Sent Request For Admition</button>
                  </span>
                </form>
              </div>

              <div class="col-md-1"></div>
            </div>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 shadow">
      <h2 class="text-center bold-font">All Home-tuition Announcement By Home-tuitors</h2>
      <% homeTuitions.forEach(function(tuition){ %>
      <a class="list-group-item list-group-item-action" data-toggle="collapse" href="#collapse<%= tuition._id %>" role="button" aria-expanded="false" aria-controls="collapseExample">
        <img class="avatar-tiny" src="/images/profile/profile-<%=tuition.username%>.jpg" />
        By-<strong class=""> <%= tuition.teacherName %> </strong>
        <div class="float-right"><strong>Class : </strong><%= tuition.class %></div>
      </a>
      <div class="collapse" id="collapse<%= tuition._id %>">
        <div class="card card-body">
          <div class="container">
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-10">
                  <div class="text-center">
                    <img class="batchPictureAvatar" src="/images/profile/profile-<%=tuition.username%>.jpg" class="rounded" alt="...">
                  </div>
                  
                
                <div class="container mb-4">
                  <p><strong>Teacher Name : </strong><%= tuition.teacherName %></p>
                  <p><strong>Stream : </strong><%= tuition.stream %></p>
                  <p><strong>Subject : </strong><%= tuition.subjectName %></p>
                  <p><strong>Class : </strong><%= tuition.class %></p>
                  <h3><strong>Address:</strong></h3>
                  <p><strong>District : </strong><%= tuition.district %></p>
                  <p><strong>Post Office : </strong><%= tuition.postOffice %></p>
                  <p><strong>Police Station: </strong><%= tuition.policeStation %></p>
                  <hr />
                </div>
                <span class="pt-2">
                  <a href="/homeTuitionAnnouncement/<%=tuition._id%>/details" class="py-3 mt-4 btn btn-primary btn-color btn-block btnText">Get Teacher's Details To Contact</a>
                </span>
              </div>
              <div class="col-md-1"></div>
            </div>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</div>

<!-- footer begins -->
<%- include('includes/footer') %>
