<%- include('includes/header') %> <%- include('includes/flash') %>
<div class="text-center">
  <h2><strong>Library item edit screen</strong></h2>
</div>
<hr>
<div class="container " >
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <form action="/library/item/<%=itemData.index%>/edit" method="POST" id="library-form">
        <br>
        <h2 class="text-center bold-font">Edit library item</h2>
        <div class="form-group">
          <label for="noteType" class="text-muted mb-1"><small>Select Note Type</small></label>
          <select id="noteType" class="form-control" name="noteType" form="library-form">
            <option value="<%=itemData.noteType%>"><%=itemData.noteType%></option>
            <option value="text">Text</option>
            <option value="webLink">Web Site Link</option>
          </select>
        </div>
        <div>
          <label for="about" class="text-muted mb-1"><small>About</small></label>
          <input required name="about" value="<%=itemData.about%>" id="about" class="body-content form-control" placeholder="Write key-points about the note."  type="text"/>
        </div>
        <div >
          <label for="content" class="text-muted mb-1"><small>Content</small></label>
          <textarea required name="content"  id="content" class="body-content form-control" placeholder="Write the content/link here."  type="text"><%=itemData.content%></textarea>
        </div>
        <button type="submit" class="btn btn-lg btn-success btn-block">Submit</button>
      </form>
      <hr>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>
<hr>

<%- include('includes/footer') %>
