<%- include('includes/header') %> <%- include('includes/flash') %>
<div class="text-center">
  <h2>This is <strong><%= user.name %>'s</strong> notifications</h2>
</div>
<div class="container">
  <%notifications.forEach((notification)=>{%>
    <%if(notification.type=="announcementViewed"){%>
        <span class="list-group-item list-group-item-action">
          <p><%=notification.message%></p>
          <a href="/profile/<%= notification.visitorUsername %>">Go to viewer profile</a>
          &nbsp;&nbsp;||&nbsp;&nbsp;<a href="/homeTuitionAnnouncement/<%= notification.announcementId %>/details">Viewed announcement</a>
        </span>
    <%}else{%>
        <span class="list-group-item list-group-item-action">
          <p><%=notification.message%></p>
          <a href="/viewSingleBatch/<%= notification.batchId %>">Go to the batch</a>
        </span>
    <%}%>

  
  <%})%>
</div>

<%- include('includes/footer') %>
