<%- include('includes/header') %> <%- include('includes/flash') %>

<!-- chat feature begins -->
<div class="text-center"><strong><%=user.username%>&nbsp;&nbsp;<i class="fas fa-paper-plane"></i>&nbsp;&nbsp; <%=messageTo%></strong></div>
<div id="chat-wrapper" class="container py-md-5 container--narrow" style="height: 480px">
  <div class="chat-title-bar text-center">[N.B :Refresh to receive new messages.]</div>
  <div id="chat" class="chat-log">
    <%messages.forEach(function(message){%> <%if(message.from==user.username){%>
    <div class="chat-self">
      <div class="chat-message">
        <div class="chat-message-inner">
          <%=message.message%>&nbsp;
          <p class="chatting-time"><span style="font-size: 0.6rem; position: relative; top: 5px"><%=message.sendDate%></span></p>
        </div>
      </div>
      <img class="chat-avatar avatar-tiny" src="/images/profile/profile-<%=user.username%>.jpg" />
    </div>
    <%}else{%>
    <div class="chat-other">
      <a href="/profile/<%=message.from%>"><img class="avatar-tiny" src="/images/profile/profile-<%=message.from%>.jpg" /></a>
      <div class="chat-message">
        <div class="chat-message-inner">
          <a href="/profile/<%=message.from%>"><strong><%=message.from%> :</strong></a>
          <%=message.message%> &nbsp;
          <p class="chatting-time"><span style="font-size: 0.6rem; position: relative; top: 5px"><%=message.sendDate%></span></p>
        </div>
      </div>
    </div>
    <% }%> <%})%>
    <!-- template for your own message -->

    <!-- end template-->

    <!-- template for messages from others -->

    <!-- end template-->
  </div>

  <form action="/sendMessage/<%=messageTo%>" method="post" id="chatForm" class="chat-form border-top">
    <input type="text" required class="chat-field" id="chatField" name="message" placeholder="Type a message…" autocomplete="off" />
    <button type="submit" class="btn btn-primary btn-color float-right">send <i class="fas fa-paper-plane"></i></button>
  </form>
</div>
<!-- chat feature ends -->

<%- include('includes/footer') %>
