<%- include('includes/header') %><%- include('includes/flash') %>
<%- include('includes/designs/profile-related-header') %>
    <!-- Profile related structures will be added here -->
    <!-- **************************************************** -->

    <div class="row">
      <div class="col-md-4">
        <div class="">
          <div class="item-container mb-2">
            <strong><p>Identity</p></strong>
            <hr style="margin-bottom: .25rem;margin-top: 0rem;">
            <%if(profileUser.accountType=="student"){ %> 
              <p><i class="fas fa-briefcase"></i><strong> Work -</strong> Student</p>
            <%}else if(profileUser.accountType=="teacher"){%>
              <p><i class="fas fa-briefcase"></i><strong> Work -</strong> Teacher</p>
            <%}else{%>
              <p><i class="fas fa-briefcase"></i><strong> Work -</strong> Student with teaching</p>
            <%}%>
            <p><i class="fas fa-home"></i> <strong> Home - </strong> <span class="text-capitalize"><%=profileUser.address.postOffice%></span></p>
            <p><i class="fas fa-graduation-cap"></i><strong> College - </strong> Siliguri College</p>
            <p><i class="fas fa-map-marker-alt"></i><strong> Address - </strong> <span class="text-capitalize"><%=profileUser.address.district%>,</span> <%=profileUser.address.policeStation%>.</p>
            <%if(profileUser.gender=="male"){ %> 
              <p><i class="fas fa-male"></i><strong> Gender - </strong> Male</p> 
            <%}else if(profileUser.gender=="female"){%>
              <p><i class="fas fa-female"></i><strong> Gender - </strong> Female</p>
            <%}else{%>
              <p><i class="fas fa-female"></i><strong> Gender - </strong> Custom</p>
            <%}%>
            <p><i class="fas fa-clock"></i><strong> Joined on - </strong> 5 may 2021</p>
            
            <%if(isVisitorsProfile){ %> 
            <a href="/profile/<%= profileUser.username %>/edit">
              <div class="btn btn-secondary btn-block"><i class="fas fa-pen"></i> Update your profile</div>
            </a>
            <%}%>
            <hr>
            <%if(profileUser.accountType=="student" && isVisitorsProfile){ %> 
            <div class="btn btn-primary btn-block"><i class="fas fa-plus"></i> Upgrate account as a teacher</div>
            <%}%>
          </div>
          <div class="item-container mb-2">
            <a href="/running-batches/<%=profileUser.username%>">
              <div class="btn btn-success btn-block">All running batches <i class="fas fa-arrow-right"></i></div>
            </a>
          </div>
          <%if(!isVisitorsProfile && (profileUser.accountType=="teacher" || profileUser.accountType=="studentTeacher")){%>
            <%let student=false %>
            <%let myRating %>
            <% connections.teacherConnections.allStudents.forEach(function(stu) { %>
              <%if(stu.username==user.username){%>
                <% student=true %>
                
              <%}%>
            <%})%>
            <%if(student){%>
              <%let rated=false %>
              <%profileUser.rating.givenBy.forEach(function(given) { %>
                <%  if(given.username==user.username){%>
                  <% rated=true %>
                  <% myRating=given%>
              <%}})%>
              <%if(!rated){%>
                <%- include('includes/give-rating') %>
              <%}else{%>
                <%rating=Number(myRating.rated)%>
                <div class="item-container mb-2 text-center">
                  <strong class="d-block bolder ">Your given rating</strong>
                  <span class="text-warning">
                    <%- include('includes/rating-stars') %> <strong>(<%=rating%>)</strong>
                  </span>
                  <div><strong>Comment : </strong><%=myRating.comment%></div>
                  <div><strong>Date : </strong><%=myRating.createdDate%></div>
                </div>
              <%}%>
            <%}%>
          <%}%>
          
          <%if(profileUser.accountType=="student" || profileUser.accountType=="studentTeacher"){%>
            
            <div class="item-container mb-2">
              <strong><p>Friends (<%=connections.studentConnections.allFriends.length%>)</p></strong>
              <%if(!connections.studentConnections.allFriends.length){%>
                <%if(isVisitorsProfile){%>
                  <p class="btn btn-primary btn-block">You have no friend!!</p>
                <%}else{%>
                  <p class="btn btn-primary btn-block">User has no friend!</p>
                <%}%>
              <%}else{%>
                <div class="row mb-2">
                  <%let range1=3%>
                  <%if(connections.studentConnections.allFriends.length<3){%>
                    <%range1=connections.studentConnections.allFriends.length%>
                  <%}%>
                  <%for(let i=0;i<range1;i++){%>
                    <div class="col-4 text-center" >
                      <img style="height: 100px;width: 95%;border-radius: 5px;" src="/images/profile/profile-<%=connections.studentConnections.allFriends[i].username%>.jpg" alt="">
                      <a href="/profile/<%=connections.studentConnections.allFriends[i].username%>">
                        <span class="d-block text-left"><%=connections.studentConnections.allFriends[i].name%></span>
                      </a>
                     </div>
                  <%}%>
                </div>
                <a href="/friends/<%= profileUser.username %>"><p class="btn btn-primary btn-block">See all friends...</p></a>
              <%}%>
            </div>

            <div class="item-container mb-2">
              <strong><p>Teachers (<%=connections.studentConnections.allTeachers.length%>)</p></strong>
              <%if(!connections.studentConnections.allTeachers.length){%>
                <%if(isVisitorsProfile){%>
                  <p class="btn btn-primary btn-block">You have no teacher!!</p>
                <%}else{%>
                  <p class="btn btn-primary btn-block">User has no teacher!</p>
                <%}%>
              <%}else{%>
                <div class="row mb-2">
                  <%let range2=3%>
                  <%if(connections.studentConnections.allTeachers.length<3){%>
                    <%range2=connections.studentConnections.allTeachers.length%>
                  <%}%>
                  <%for(let i=0;i<range2;i++){%>
                    <div class="col-4 text-center" >
                      <img style="height: 100px;width: 95%;border-radius: 5px;" src="/images/profile/profile-<%=connections.studentConnections.allTeachers[i].username%>.jpg" alt="">
                      <a href="/profile/<%=connections.studentConnections.allTeachers[i].username%>">
                        <span class="d-block text-left"><%=connections.studentConnections.allTeachers[i].name%></span>
                      </a>
                     </div>
                   <%}%>
                 </div>
                  <a href="/teachers/<%=profileUser.username %>"><p class="btn btn-primary btn-block">See all teachers...</p></a>
                <%}%>        
            </div>

          <%}%>

          <%if(profileUser.accountType=="teacher" || profileUser.accountType=="studentTeacher"){%>
            <div class="item-container mb-2">
              <strong><p>Students (<%=connections.teacherConnections.allStudents.length%>)</p></strong>
              <%if(!connections.teacherConnections.allStudents.length){%>
                <%if(isVisitorsProfile){%>
                  <p class="btn btn-primary btn-block">You have no student!!</p>
                <%}else{%>
                  <p class="btn btn-primary btn-block">User has no student!</p>
                <%}%>
              <%}else{%>
                <div class="row mb-2">
                  <%let range3=3%>
                  <%if(connections.teacherConnections.allStudents.length<3){%>
                    <%range3=connections.teacherConnections.allStudents.length%>
                  <%}%>
                  <%for(let i=0;i<range3;i++){%>
                    <div class="col-4 text-center" >
                      <img style="height: 100px;width: 95%;border-radius: 5px;" src="/images/profile/profile-<%=connections.teacherConnections.allStudents[i].username%>.jpg" alt="">
                      <a href="/profile/<%=connections.teacherConnections.allStudents[i].username%>">
                        <span class="d-block text-left"><%=connections.teacherConnections.allStudents[i].name%></span>
                      </a>
                     </div>
                  <%}%>
                </div>
                <a href="/students/<%=profileUser.username %>"><p class="btn btn-primary btn-block">See all students...</p></a>
              <%}%>
            </div>
          <%}%>

        </div>
      </div>
      <div class="col-md-8">
        
        <% if (isVisitorsProfile) { %>
          <%- include('includes/post-form') %>
        <%}%>
        <h5 class="bolder text-center">All Posts</h5>
        <%- include('includes/designs/post-structure') %>
      </div>
    </div>
    

    <!-- **************************************************** -->
<%- include('includes/designs/profile-related-footer') %>

<%- include('includes/footer') %>
