
<div class="container" style="padding:.5rem;">
  <div class="path">
    <div class="row ">
      <div class="col-md-6" style="width: 100%;">
        <a href="/create-batch">
          <div class="btn btn-primary btn-block"><i class="far fa-plus-square"></i>&nbsp; Create new batch</div>
        </a>
        <hr class="visibleItemsOnCollapse">
      </div>
      <div class="col-md-6">
        <a href="/create-home-tuition-announcement">
          <div class="btn btn-secondary btn-block"><i class="far fa-plus-square"></i>&nbsp; Home-tuition announcement</div>
        </a>
      </div>
    </div>
  </div>
</div>
<%if(accountType=="student" || accountType=="studentTeacher"){%>
<div class=" item-container container mb-1" style="background-color:#f0f2f5 ;">
  <h5 class="bolder text-primary ">Students Batch Data</h5>
  <h6 class="bolder">All running batches</h6>
  <div class="teacher-banner-container pb-2">
    <%if(!batches.studentBatches.presentBatches.length){%>
      <div class="btn btn-primary btn-block">There is no present batch available.</div>
    <%}%>
    <%batches.studentBatches.presentBatches.forEach((batch)=>{%>
      <div class="batch-data">
        <div style="position: relative;">
          <img class="teacher-image-batch"  src="/images/cover/cover-<%=batch.username%>.jpg" alt="">
          <div class="batch-no text-capitalize"><%=batch.batchMood%></div>
        </div>
        <div class="text-left batch-data-container" >
          <span class="d-block"><strong>Teacher name : </strong> <%=batch.teacherName%></span>
          <span class="d-block"><strong>Class : </strong> <%=batch.class%></span>
          <span class="d-block"><strong>Subject : </strong><%=batch.subjects%></span>
          <span class="d-block"><strong>Days : </strong><%=batch.days%></span>
          <span class="d-block"><strong>Time : </strong><%=batch.classTime%></span>
          <a href="/viewSingleBatch/<%=batch._id%>">
            <div class="class btn btn-primary btn-sm">
              Batch details
            </div>
          </a>
        </div>
      </div>
    <%})%>
  </div>
</div>


<div class=" item-container container mb-1" style="background-color:#f0f2f5 ;">
  <h6 class="bolder">All old batches</h6>
  <div class="teacher-banner-container pb-2">
    <%if(!batches.studentBatches.oldBatches.length){%>
      <div class="btn btn-primary btn-block">There is no old batch available.</div>
    <%}%>
    <%batches.studentBatches.oldBatches.forEach((batch)=>{%>
      <div class="batch-data">
        <div style="position: relative;">
          <img class="teacher-image-batch"  src="/images/cover/cover-<%=batch.username%>.jpg" alt="">
          <div class="batch-no text-capitalize"><%=batch.batchMood%></div>
        </div>
        <div class="text-left batch-data-container" >
          <span class="d-block"><strong>Teacher name : </strong> <%=batch.teacherName%></span>
          <span class="d-block"><strong>Class : </strong> <%=batch.class%></span>
          <span class="d-block"><strong>Subject : </strong><%=batch.subjects%></span>
          <span class="d-block"><strong>Days : </strong><%=batch.days%></span>
          <span class="d-block"><strong>Time : </strong><%=batch.classTime%></span>
          <a href="/viewSingleBatch/<%=batch._id%>">
            <div class="class btn btn-primary btn-sm">
              Batch details
            </div>
          </a>
        </div>
      </div>
    <%})%>
  </div>
</div>
<%}%>
<hr>
<%if(accountType=="student" || accountType=="studentTeacher"){%>
<div class=" item-container container mb-1" style="background-color:#f0f2f5 ;">
  <h5 class="bolder text-primary ">Teachers Batch Data</h5>
  <h6 class="bolder">All running batches</h6>
  <div class="teacher-banner-container pb-2">
    <%if(!batches.teacherBatches.presentBatches.length){%>
      <div class="btn btn-primary btn-block">There is no present batch available.</div>
    <%}%>
    <%batches.teacherBatches.presentBatches.forEach((batch)=>{%>
      <div class="batch-data">
        <div style="position: relative;">
          <img class="teacher-image-batch"  src="/images/cover/cover-<%=batch.username%>.jpg" alt="">
          <div class="batch-no text-capitalize"><%=batch.batchMood%></div>
        </div>
        <div class="text-left batch-data-container" >
          <span class="d-block"><strong>Class : </strong> <%=batch.class%></span>
          <span class="d-block"><strong>Subject : </strong><%=batch.subjects%></span>
          <span class="d-block"><strong>Days : </strong><%=batch.days%></span>
          <span class="d-block"><strong>Time : </strong><%=batch.classTime%></span>
          <a href="/viewSingleBatch/<%=batch._id%>">
            <div class="class btn btn-primary btn-sm">
              Batch details
            </div>
          </a>
        </div>
      </div>
    <%})%>
  </div>
</div>

<div class=" item-container container mb-1" style="background-color:#f0f2f5 ;">
  <h6 class="bolder">All home-tuition announcements</h6>
  <div class="teacher-banner-container pb-2">
    <%if(!batches.teacherBatches.announcements.length){%>
      <div class="btn btn-primary btn-block">There is no present announcement available.</div>
    <%}%>
    <%batches.teacherBatches.announcements.forEach((announcement)=>{%>
      <div class="batch-data">
        <div style="position: relative;">
          <img class="teacher-image-batch"  src="/images/profile/profile-<%=announcement.username%>.jpg" alt="">
          <div class="batch-no">Announcement</div>
        </div>
        <div class="text-left batch-data-container" >
          <span class="d-block"><strong>Stream : </strong> <%=announcement.stream%></span>
          <span class="d-block"><strong>Subject : </strong> <%=announcement.subjectName%></span>
          <span class="d-block"><strong>Class : </strong> <%=announcement.class%></span>
          <span class="d-block"><strong>Address : </strong><%=announcement.address.district%>, <%=announcement.address.policeStation%>, <%=announcement.address.postOffice%>.</span>
          <a href="/homeTuitionAnnouncement/<%=announcement._id%>/details">
            <div class="class btn btn-primary btn-sm">
              Announcement details
            </div>
          </a>
        </div>
      </div>
    <%})%>
  </div>
</div>


<div class=" item-container container mb-1" style="background-color:#f0f2f5 ;">
  <h6 class="bolder">All old batches</h6>
  <div class="teacher-banner-container pb-2">
    <%if(!batches.teacherBatches.oldBatches.length){%>
      <div class="btn btn-primary btn-block">There is no old batch available.</div>
    <%}%>
    <%batches.teacherBatches.oldBatches.forEach((batch)=>{%>
      <div class="batch-data">
        <div style="position: relative;">
          <img class="teacher-image-batch"  src="/images/cover/cover-<%=batch.username%>.jpg" alt="">
          <div class="batch-no">Offline batch</div>
        </div>
        <div class="text-left batch-data-container" >
          <span class="d-block"><strong>Class : </strong> <%=batch.class%></span>
          <span class="d-block"><strong>Subject : </strong><%=batch.subjects%></span>
          <span class="d-block"><strong>Days : </strong><%=batch.days%></span>
          <span class="d-block"><strong>Time : </strong><%=batch.classTime%></span>
          <a href="/viewSingleBatch/<%=batch._id%>">
            <div class="class btn btn-primary btn-sm">
              Batch details
            </div>
          </a>
        </div>
      </div>
    <%})%>
  </div>
</div>
<%}%>